.MainAppContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #111524;
    padding: 0;
    padding-bottom: 120px;
    margin: 0;
    overflow-x: scroll;
}
.MainAppHeader{
    position: fixed;
    z-index: 11;
    background: #111524;
}
.MainAppBody{
    margin-top: 196px;
}
.MainAppBody, .MainAppHeader{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainAppHeaderContainer{
    width: 100%;
}
.Header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}
.Header img{
    width: 44px;
}
.Header .Icon{
    color: white;
    font-size: 17pt;
}
.searchField form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.searchField input{
    display: block;
    background-color: #242B47;
    border-radius: 50px;
    width: 50%;
    height: 30px;
    padding: 7px 45px 7px 20px;
    color: lightgray;
    font-size: 11pt;
    border: none;
    outline: none;
}
.searchIcon{
    font-size: 12pt;
    color: lightgray;
    position: relative;
    top: 8px;
    left: -31px;
}
.titlesPost{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-around;
    color: white;
    font-size: 9pt;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.titlePost:first-of-type{
    width: 40%;
}
.newPostButton{
    width: 40%;
    background-color: #ff7276;
    height: 26px;
    font-size: 9pt;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px auto;
}
.newPostButton img{
    width: 16px;
}
.titlePost:nth-of-type(2), .titlePost:nth-of-type(3){
    width: 30%;
    text-align: center;
}

.item{
    width: 400px;
    height: 30px;
    background-color: #242B47;
    border-radius: 3px;
    box-shadow: 0, 0, 6,#000000;
}